.App {
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.i-hov{
  font-size: 1.2em;
  margin: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
}

.i-hov:hover {
  color: red;
display: inline-block;
}

.NavBar{
  font-size: 1.5em;
}

#upButton{
  font-size: 3em;
  color:grey;
}

.Landing{
  display: flex;
  background-color: #FFF;
  height: 80vh;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
justify-content: center;
}

.landingPicture{
  transform: rotate(90deg) scale(1.5) scaleY(-1) translateY(1.5em);
  border-radius: 100em;
  width: 23vw;
padding: 20px;
height:22vw


}

.LandingHeader{

  width: 100vh;
  display: inline-block;
  /* padding-left: em; */
  /* padding-right:5em; */
}


#resumeButton{
  width:9em;
  height:2.3em;
  font-size: .9em;
  /* -webkit-transition-duration: 0.4s;
transition-duration: 0.4s; */
}

/* #resumeButton:hover{
  color: red;
display: inline-block;
} */

a{
  padding-left: .5em;
  padding-right: .5em;
}
.Maui{
  color: white;
}

i{
  color:blue;
}


.ProfileHeader{
  display:flex;
  justify-content: center;
  align-items:center;
  height: 5em;
  font-family: 'Crimson Text', serif;
  background-image: url("./images/Kalani_Banner_1.png");
  background-size: 122em;
  background-repeat: no-repeat;
}
.About{
  background-image: url("./images/Kalani-Background2.png");
  background-repeat: no-repeat;
  background-size: 118em;
  background-position: 26% 22%;

}
.AboutHeader{
  display:flex;
  justify-content: center;
  align-items:center;
  height: 5em;
  background-image: url("./images/Kalani_Banner_1.png");
  background-size: 122em;
  background-repeat: no-repeat;
}

.Contact{
  height: 35em;
}
.ContactHeader{
  display:flex;
  justify-content: center;
  align-items:center;
  height: 5em;

  background-image: url("./images/Kalani_Banner_1.png");
  background-size: 122em;
  background-repeat: no-repeat;
}

#ifYouLike{
  height:3em;
  font-size: 2em;
  background-color: #9dbcf2;
  display:flex;
  justify-content: center;
  align-items:center;
}
#imageOfYeet{
  width: 40em;
  /* background-color: blue; */
}
#Messages{
  font-size: 1.5em;
  width: 40em;
  /* background-color: red; */
}
#setTheory{
  display:flex;
  justify-content: center;
  align-items:center;
}

#AboutMe{
  font-size: 1.5em;
  /* width:120em; */
  padding: 2em;
  color: white;
  text-shadow: 0em 0em .4em #000000
}


.section {
    padding: 50px;
}

.projects{
  background-color: #FFF;
    display: flex;
  flex-wrap: wrap;
  padding-left: 7em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Img{
  /* display: block;
    width: 100%;
    height: auto;
transition: .5s ease; */
  /* border: 7px solid black; */
  /* border-radius:1em; */
  height: 20em;
  width: 25em;
  overflow: hidden;
  display: inline-flex;
  transition: .5s ease;
}

.item{
  position: relative;
  width: 500px;
  margin: 10px;
}

.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  opacity: .9;
  overflow: hidden;
  width: 100%;
  height:0;
transition: .5s ease;
}

.item:hover .overlay{
    bottom: 0;
    height: 100%;
}
.text{
  white-space: nowrap;
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contactImg{
  height: 20em;
  width: 23em;
  border-radius: 8em;
  transform: translateX(13em);
}
